.floating-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    transition: transform 0.3s;
    z-index: 999;
}

.floating-button.scrolling {
    transform: translateX(0) translateY(-50px);
}

.whatsapp-icon {
    color: #fff;
    font-size: 40px;
}

.whatsapp-icon:hover {
    font-size: 45px;
}
